[Unit]
Description=FogelBot start service

[Service]
ExecStart=source /home/dsingh/.bashrc && /usr/bin/python3 /home/dsingh/fogelbot/main.py
Environment=PYTHONBUFFERED=1
Restart=on-failure
Type=notify
User=dsingh

[Install]
WantedBy=default.target
