[Unit]
Description=FogelBot start service

[Service]
ExecStart=/usr/bin/python3 /home/dsingh/fogelbot/main.py
Environment=PYTHONBUFFERED=1
Environment=FogelBotDiscordKey=nothing
Restart=on-failure
Type=notify
User=dsingh

[Install]
WantedBy=default.target
